*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Inter', 'Arial', 'sans-serif';
}

.container{
  width: 100%;
  max-width: 1288px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

*:focus{
  outline: 2px dotted rgba(255, 166, 0, 0.749);
  outline-offset: 3px;
}

.d-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 288.141px;
  height: 39px;
  margin-left: 950px;
}

.nav-link{
  display: inline-block;
  padding-right: 40px;
  color: #525252;
  font-family: 'Inter','Arial', 'sans-serif';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.18px;
}
.nav-link:last-child{
  padding: 0 0px;
}
.nav-link:hover{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* MAIN SATAR  */

/* SECTION INTRO  */
.intro-section{
  margin-top: 126px;
}

.portfolio-intro{
  width: 800px;
  margin-bottom: 54px;
}

.intro-heading{
  color: #000;
  font-family: "Inter","Arial", "sans-serif";
  font-size: 64px;
  font-weight: 400;
  line-height: 73.6px;
  letter-spacing: 2.56px;
}
.intro-gray-line{
  color: #757575;
  display: block;
}

/* Section of features of work  */
.features-section{
  margin-top: 128px;
  margin-bottom: 128px;
}
.features-date{
  width: 226px;
}
.features-date p{
  color: #000;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0.54px;
}
.features-date span{
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0.54px;
}
.feature-left{
  display: flex;
  flex-direction: column;
}
.feature-right{
  display: flex;
  flex-direction: column;
}

.feature-work{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 31px;
}

.features-712{
  width: 612px;
  height: 716px;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 10px #c5c4c4 ;
  margin-bottom: 24px;
  border-radius: 0 0 10px 10px;
}

.features{
  width: 612px;
  height: 538px;
  border-radius: 0 0 10px 10px;
  margin-bottom: 24px;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 10px #c5c4c4 ;
}
.features-gap{
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.6px;
  padding-top: 24px;
  padding-left: 24px;

}
.features-gray{
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.6px;
  padding-left: 24px;
}


/* About me Section: Informations about myself */
.about-myself-secting{
  margin-bottom: 264px;
}

.my-self {
  display: flex;
  justify-content: space-between;
}

.my-self-heading h3{
  color: #000;
  font-size: 30px;
  font-weight: 400;
  line-height: 41.6px;
  letter-spacing: 0.64px;

}

.about-myself-informations{
  width: 588px;
  height: 778px;
  display: flex;
  flex-direction: column;
}
.about-myself-informations p{
  color: #000;
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.28px;
  margin-bottom: 32px;
}

.about-myself-informations p:last-child{
  margin-bottom: 0px;
}


/* Section for my picture  */
.my-img-section{
  margin-bottom: 264px;
}
.my-picture-section-img{
  width: 100%;
  max-width: 1519px;
  height: 720px;
  display: flex;
  margin: 0 auto;
}

/* Section for experience  */
.experience_section{
  margin-bottom: 256px;
}
.experinece{
  display: flex;
  justify-content: space-between;
}

.experience-heading h3{
  color: #000;
  font-size: 30px;
  font-weight: 400;
  line-height: 41.6px;
  letter-spacing: 0.64px;
}
.experience-information{
  display: flex;
  flex-direction: column;
}
.experine-in-company{
  width: 588px;
  height: 151px;
  border-bottom: 1.5px solid rgba(228, 227, 227, 0.745);
  margin-bottom: 48px;
}
.experine-in-company:last-child{
  margin-bottom: 0px;
}

.experience-information span{
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.6px;
  padding-bottom:4px ;
}
.experience-information p{
  color: #525252;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.6px;
  padding-bottom: 16px;
}
.experience-information p:last-child{
  padding-bottom: 0px;
}


/* Services for clients| Selected clients Section   */
.services-section{
  margin-bottom: 128px;
}
.services-clients{
  padding-bottom: 128px;
}
.services{
  width: 588px;
  height: 431px;
}

.services h3{
  color: #000;
  font-size: 30px;
  font-weight: 400;
  line-height: 41.6px;
  letter-spacing: 0.64px;
  margin-bottom: 63px;
}

.services p{
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.6px;
  border-bottom: 1.5px solid rgba(228, 227, 227, 0.745);
  margin-bottom: 24px;
  padding-bottom: 25px;
}
.services p:last-child{
  border: 0;
}

.selected-clients{
  width: 588px;
  height: 431px;
}


.selected-clients h3{
  color: #000;
  font-size: 30px;
  font-weight: 400;
  line-height: 41.6px;
  letter-spacing: 0.64px;
  margin-bottom: 63px;
}
.selected-clients p{
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.6px;
  border-bottom: 1.5px solid rgba(228, 227, 227, 0.745);
  margin-bottom: 24px;
  padding-bottom: 25px;
}
.selected-clients p:last-child{
  border: 0;
}